<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="ExampleSuite" parallel="classes">
    <test name="SuiteTests">
        <!--<groups>-->
    <!--<run>-->
        <!--<include name="HeaderTests" />-->
        <!--<include name="ButtonTests" />-->
        <!--<exclude name="HeaderTests" />-->
        <!--</run>-->
        <!--</groups>-->
        <parameter name="username" value="admin"/>
        <parameter name="password" value="password"/>
    <classes>
        <!--<class name="suiteExample.TestNG_Activity5" />-->
        <!--<class name="suiteExample.TestNG_Activity6" />-->
        <!--<class name="suiteExample.TestNG_Activity7" />-->
        <!--<class name="suiteExample.TestNG_Activity9" />-->
        <class name="suiteExample.TestNG_Activity10" />
    </classes>
</test>
</suite>




